#matched-tags,
.selected-tags{
    list-style: none;
    margin: 0;
    position: absolute;
    background-color: #fff;
    padding: 5px;
}
.matchedTag:hover,
.selectedTag:hover{
    cursor:pointer;
    background-color: #eee;
}
.category{
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

#add-category-frame{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
}
