@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
*{
    font-family: 'Montserrat', serif;
}
#matched-tags,
.selected-tags{
    list-style: none;
    margin: 0;
    position: absolute;
    background-color: #fff;
    padding: 5px;
}
.matchedTag:hover,
.selectedTag:hover{
    cursor:pointer;
    background-color: #eee;
}

.main-frame{
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}
.category-count{
    width: 10%;
    display: inline-block;
}
.category-name{
    width: 50%;
    display: inline-block;
}
.hidden{
    display: none;
}

#selected-tags{
    display: inline-block;
    list-style: none;
}
#tag-alias{
    display: inline-block;
    margin-left: 20px;
}